In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'data/FlightData_multiplefiles/'
flights = pd.read_csv(path + 'flights.csv', index_col='Unnamed: 0')
airlines = pd.read_csv(path + 'airlines.csv', index_col='Unnamed: 0') 
airports = pd.read_csv(path + 'airports.csv', index_col='Unnamed: 0')
planes = pd.read_csv(path + 'planes.csv', index_col='Unnamed: 0')
weather = pd.read_csv(path + 'weather.csv', index_col='Unnamed: 0')

In [3]:
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30T18:00:00Z
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-10-01T02:00:00Z
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30T16:00:00Z
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30T15:00:00Z
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30T12:00:00Z

In [10]:
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3318,N997DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3320,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3321,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet

In [11]:
pd.merge(flights, planes[['tailnum','type']], on='tailnum')

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,type
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z,Fixed wing multi engine
1,2013,1,8,1435.0,1440,-5.0,1717.0,1746,-29.0,UA,1579,N14228,EWR,MIA,150.0,1085,14,40,2013-01-08T19:00:00Z,Fixed wing multi engine
2,2013,1,9,717.0,700,17.0,812.0,815,-3.0,UA,1142,N14228,EWR,BOS,39.0,200,7,0,2013-01-09T12:00:00Z,Fixed wing multi engine
3,2013,1,9,1143.0,1144,-1.0,1425.0,1445,-20.0,UA,1707,N14228,EWR,TPA,149.0,997,11,44,2013-01-09T16:00:00Z,Fixed wing multi engine
4,2013,1,13,835.0,824,11.0,1030.0,951,39.0,UA,1572,N14228,EWR,BOS,43.0,200,8,24,2013-01-13T13:00:00Z,Fixed wing multi engine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284165,2013,9,20,1758.0,1805,-7.0,1929.0,1953,-24.0,OO,5568,N766SK,LGA,CLE,60.0,419,18,5,2013-09-20T22:00:00Z,Fixed wing multi engine
284166,2013,9,22,1759.0,1805,-6.0,1945.0,1953,-8.0,OO,5568,N772SK,LGA,CLE,67.0,419,18,5,2013-09-22T22:00:00Z,Fixed wing multi engine
284167,2013,9,23,1759.0,1805,-6.0,1935.0,1953,-18.0,OO,5568,N776SK,LGA,CLE,68.0,419,18,5,2013-09-23T22:00:00Z,Fixed wing multi engine
284168,2013,9,24,1751.0,1805,-14.0,1937.0,1953,-16.0,OO,5568,N785SK,LGA,CLE,67.0,419,18,5,2013-09-24T22:00:00Z,Fixed wing multi engine
284169,2013,9,28,712.0,720,-8.0,955.0,1025,-30.0,AS,15,N557AS,EWR,SEA,323.0,2402,7,20,2013-09-28T11:00:00Z,Fixed wing multi engine

In [9]:
planes.columns

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')