In [107]:
#pip install nltk

In [113]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist

#nltk.download('punkt')
#nltk.download("stopwords")

data = pd.read_csv('data/SloganData_textanalysis.csv')
data.head(3)

        Company                          Slogan
0  Costa Coffee              For coffee lovers.
1         Evian              Evian. Live young.
2        Dasani  Designed to make a difference.

In [115]:
def filter_stopwords(words):
    stop_words = set(stopwords.words("english"))
    filtered_list = []
    for word in words:
        if word.casefold() not in stop_words:
            filtered_list.append(word.lower())
    return filtered_list

def tokenize_column(data_column):
    data_list = []
    for index in data_column:
        tknized_txt= re.findall('\w+', index)
        filtered_tknized_txt = filter_stopwords(tknized_txt)
        data_list.append(filtered_tknized_txt)
    return data_list

data['text_token'] = tokenize_column(data['Slogan'])
data.head(3)

        Company                          Slogan                    text_token
0  Costa Coffee              For coffee lovers.              [coffee, lovers]
1         Evian              Evian. Live young.          [evian, live, young]
2        Dasani  Designed to make a difference.  [designed, make, difference]

In [116]:
allwords = []
for word in data['text_token']:
    allwords = allwords + word
fdist = FreqDist(allwords)

In [117]:
fdist.most_common(10)

[('original', 63),
 ('good', 61),
 ('taste', 53),
 ('beer', 47),
 ('make', 45),
 ('tea', 44),
 ('love', 41),
 ('get', 41),
 ('great', 40),
 ('world', 40)]

In [118]:
fdist.tabulate(10)

original     good    taste     beer     make      tea     love      get    great    world
      63       61       53       47       45       44       41       41       40       40