In [ ]:
#project not started

In [1]:
import pandas as pd
data = pd.read_csv('data/SloganData_textanalysis.csv')
data

                Company                            Slogan
0          Costa Coffee                For coffee lovers.
1                 Evian                Evian. Live young.
2                Dasani    Designed to make a difference.
3              Heineken          It's all about the beer.
4              Gatorade             The Legend Continues.
...                 ...                               ...
1157       Levi's Jeans  Original jeans. original people.
1158  Dove (toiletries)     The secret of beautiful hair.
1159             Lipton                      Be more tea.
1160            Pampers     Discover your babyâs world.
1161          Coca-Cola                Taste The Feeling.

[1162 rows x 2 columns]